td,tr a{
padding-left:20px;
padding-bottom:10px;
color:black;
text-decoration:none;
width:25%;
}
li{
display:inline;
font-size:14px;
}
td a:hover{
text-decoration:underline;
color:black;
}
 #t{
 font-weight:bold;
font-size:20px;
padding: 40px;

}
.row:after {
  content: "";
  display: table;
  clear: both;
width:100%;
}
.column {
  float: left;
  width:33.33%;
padding:30px;
font-size:18px;

}
.row1:after {
  content: "";
  display: table;
  clear: both;
}
.column1 {
  float: left;
  width: 50%;
  padding-left:20px;
  padding-Bottom:20px;
overflow: hidden;
}
#container{
background-image:url(../src/Images/olympian and paralympian online experiences.jpg);
  background-position: center;
background-size:100% 100%;
  background-repeat:no-repeat;
padding-right:40px;
padding-left:80px;
padding-top:20px;
}
.list li{
list-style-type:none;
display:inline;
padding-left:20px;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


#navbar {
    background-color: #FFFF;
    position: fixed;
    top: -70px;
    width: 100%;
    height:70px;
    display: block;
    transition: top 0.3s;
     z-index: 9999;
    box-shadow: 0px 15px 10px -15px hsl(211, 76%, 72%); 
  }

#abt a{
list-style-type:none;
display:inline;
padding-bottom:50px;

}
.items:hover:not(.active) {
  background-color: #DCDCDC;
  color: white;
    border-radius:20px;
}
.covidres {
background-color:white;
width:100%;
height:70px;
padding-top:20px;
padding-bottom:20px;
}
.covidres a{
color:#777777;
text-decoration:underline;
font-weight:bold;
}
.covidres a:hover{
color:#111111;
}
.last{
background-color:f0f1f0;
}
#navt:hover{
background-color:#CCCCCC;
}
html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;

}
#abtable a{
font-size:16px;
text-decoration:none;

}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
