$ulcolor:black;
$ulsize:18px;
$bgcolor:f0f1f0;
$imgwidth:500px;
$imgwidth:600px;

#Foot { 
#abt{
aside{
ul{
list-style:none;
padding-bottom:30px;
}
float:left;
width:25%;
}
}
}

#Foot{
a{
text-decoration:none;
color:$ulcolor;
font-size:$ulsize;
}
a:hover{
text-decoration:underline;
}
}
aside
{
float:left;
}
